<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings/>
	
	<connectionStrings>
		<!--chuỗi kết nối đặt ở đây, edit thoải mái nếu thay đổi nơi lưu-->
		<add name="cnstr" connectionString="Server=MIU-LAPTOP\SQLEXPRESS;Database=tnut-monitor;User Id=sa;Password=123;" providerName="sql"/>
	</connectionStrings>
	
	<system.web>
		<sessionState cookieName="sid" />
		<compilation debug="false"></compilation>
		<authentication mode="Windows" />
	</system.web>
	
	<system.webServer>
		
		<security>
			<requestFiltering>
				<fileExtensions>
					<add fileExtension=".webmanifest" allowed="true" />
					<add fileExtension=".svg" allowed="true" />
					<add fileExtension=".ttf" allowed="true" />
					<add fileExtension=".eot" allowed="true" />
					<add fileExtension=".woff2" allowed="true" />
				</fileExtensions>
			</requestFiltering>
		</security>
		
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="Server" />
			</customHeaders>
		</httpProtocol>
		
	</system.webServer>

</configuration>
