<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings/>
    <connectionStrings>
		<!--chuỗi kết nối đặt ở đây, edit thoải mái nếu thay đổi nơi lưu-->
		<add name="cnstr" connectionString="Server=MIU-LAPTOP\SQLEXPRESS;Database=tnut-monitor;User Id=sa;Password=123;" providerName="sql"/>
	</connectionStrings>
    <system.web>
		<sessionState cookieName="sid" />
        <compilation debug="false"></compilation>
    <authentication mode="Windows" />
    </system.web>
</configuration>
