body {
}

.sodo-tnut {
    /*Hiển thị cái ảnh sơ đồ tnut vào đây*/
    width: 700px;
    height: 600px;
}

.toa-nha {
    width: 129px;
    height: 44px;
    position: relative;
}

#a7 {
    background-image: url('/images/a7.png');
    left: 226px;
    top: 232px;
}

#a8 {
    background-image: url('/images/a8.png');
    left: 227px;
    top: 137px;
}

#a9 {
    background-image: url('/images/a9.png');
    height: 77px !important;
    left: 225px;
    top: 1px;
}

#a10 {
    background-image: url('/images/a10.png');
    left: 225px;
    top: -130px;
}

#a16 {
    background-image: url('/images/a16.png');
    left: 25px;
    top: -192px;
}

.phong-hoc{
    text-align:center;
}
.phong-hoc:hover{
    background-color:yellow;
}

    .phong-hoc.hoc {
        background-color: dodgerblue;
    }
    .phong-hoc.free {
        /*background-color: gray;*/
    }
    .phong-hoc.fix {
        background-color: red;
    }

    .no-display{
        display:none;
    }